body {
  background-color: rgb(51, 51, 50);
}
label {
  color: rgb(197, 179, 179);
}

.objectToManipulate {
  width: 200px;
  height: 200px;
  background-color: aliceblue;
  border-radius: 0;
}

.circle {
  border-radius: 50%;
}
