body {
  background-color: rgb(51, 51, 50);
}
label {
  color: rgb(197, 179, 179);
}

.objectToManipulate {
  width: 130px;
  height: 130px;
  background-color: aliceblue;
  border-radius: 0;
}

.circle {
  border-radius: 50%;
}

.bigger {
  height: 250px;
  width: 250px;
}
