@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai");

body {
  font-family: "Baloo Bhai", cursive;
}

div {
  width: 50%;
  margin: 0 auto;
}

div div {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 15px;
  @import url("https://fonts.googleapis.com/css?family=Baloo+Bhai");

  body {
    font-family: "Baloo Bhai", cursive;
    text-align: center;
    width: 50%;
    margin: 2rem auto;
  }

  .error {
    border: 1px solid red;
  }

  input {
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 5px;
  }
  border: 1px solid #999;
}

.focused {
  background: #999999;
}
