body {
  background-color: rgb(18, 18, 64);
  color: white;
  display: flex;
  font-family: sans-serif;
}

#wrapper {
  margin: 50px auto;
  width: 1200px;
  display: flex;
  flex-flow: column;
  gap: 150px;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.competitors {
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
}

#player {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#computer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.competitors h1 {
  margin: 2px 0;
}

#play {
  background-color: rgb(57, 110, 92);
  font-size: 18px;
  color: white;
  padding: 6px 16px;
  border-radius: 8px;
}

/* .competitors:nth-child() {
  display: flex;
  flex-flow: column;
  align-items: center;
} */
