body {
  background-color: rgb(18, 18, 64);
  color: white;
  display: flex;
  font-family: sans-serif;
}

.page-wrapper {
  margin: 50px auto;
  width: 1200px;
  display: flex;
  flex-flow: column;
  gap: 120px;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.competitors {
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
}

#player {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#computer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.competitors h1 {
  margin: 2px 0;
}

button {
  background-color: rgb(57, 110, 92);
  font-size: 18px;
  color: white;
  padding: 6px 16px;
  border-radius: 8px;
}

#player-choices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.available-choices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.chosen-by-player {
  width: 180px;
  transform: scaleX(-1);
}

.images {
  display: flex;
  gap: 200px;
  width: 950px;
  justify-content: space-between;
}

.images img {
  width: 180px;
}

.hidden-img {
  display: none;
}

.buttonChoices {
  display: flex;
  width: 900px;
  justify-content: space-between;
}

.buttonChoices button {
  padding: 8px 32px;
}

.rockChoice {
  display: none;
  align-self: flex-start;
  justify-items: flex-start;
}

.paperChoice {
  display: none;
  align-self: center;
  justify-self: center;
  margin-left: 50px;
}

.scissorsChoice {
  display: none;
  align-self: flex-end;
}

.computer-image {
  transform: scaleX(1);
  display: none;
}
