body {
  background-color: rgb(217, 189, 63);
  font-family: sans-serif;
}

.page-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.to-do-list {
  color: white;
}

.input-styling {
  padding: 10px 0;
  width: 250px;
}

.all-list-items {
  padding: 0;
  margin: 25px;
}

.all-list-styling {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 30px;
  text-align: start;
  color: black;
  list-style: none;
  background-color: white;
  margin: 5px 0;
  padding-left: 5px;
  font-weight: 600;
}

.input-form {
  position: relative;
  display: flex;
  gap: 10px;
}

.add-task {
  border: none;
  cursor: pointer;
  color: orange;
  position: absolute;
  right: 117px;
  top: 11px;
}

.fas {
  scale: 1.6;
}

.filter-todo {
  height: 100%;
  padding-left: 10px;
  color: orange;
  font-weight: bold;
}

.complete-btn {
  padding: 8px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.complete-btn .fas,
.delete-btn .fas {
  scale: 0.8;
}

.delete-btn {
  padding: 8px;
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
}
